<div class="card">
    
    <div class="card-header bg-default ">
        <div class="d-flex">
            
            <div class="mr-auto p-2 btn btn-default">
                <span class="fa fa-inbox"></span><strong> Produto </strong>
            </div>

            <div class="p-1">
                <button class="btn btn-success font-weight-bold fa fa-shopping-cart" [routerLink]="['/products/product-form']"> Adicionar</button>
            </div>

        </div>
    </div>

    <div class="card-body">

        <form class="mb-3">
            <div class="form-group row">
                <div class="col-md-6 mb-3">    
                    <input type="product" class="form-control" id="product">
                </div>
            </div>
        </form>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Nome do producto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td>{{product.name}}</td>
                <td>
                  <div class="text-right">
                      <button class="btn btn-success mr-1 fa fa-edit"></button>
                      <button class="btn btn-danger fa fa-trash"></button>
                  </div>
                </td>
              </tr>
            </tbody>
        </table>

        <nav>
            <ul class="pagination justify-content-end">
              
              <li class="page-item">
                <a class="page-link" (click)="setPage(currentPage - 1)"> 
                  <span class="fa fa-arrow-circle-left"></span>
                </a>
              </li>

              <li *ngFor="let page of pages" class="page-item" [ngClass]="{active:currentPage === page}" ><a class="page-link" (click)="setPage(page)">{{page}}</a></li>
              
              <li class="page-item">
                <a class="page-link" (click)="setPage(currentPage + 1)">
                  <span class="fa fa-arrow-circle-right"></span>
                </a>
              </li>

            </ul>
        </nav>
    </div>
</div>