<div class="card">
    
    <div class="card-header bg-default ">
        <div class="d-flex">
            
            <div class="mr-auto p-2 btn btn-default">
                <span class="fa fa-inbox"></span><strong> Produto </strong>
            </div>

            <div class="p-1">
                <button class="btn btn-success font-weight-bold fa fa-list" [routerLink]="['/products/product-list']"> Listar</button>
            </div>

        </div>
    </div>

    <form #form="ngForm" [formGroup]="productForm" (submit)="saveProduct()">
        
        <div class="card-body">
        
            <div class="form-group row">
                <label for="name" class="col-form-label col-md-2 text-right font-weight-bold">Nome do Produto:</label>
                <div class="col-md-6 mb-3">    
                    <input formControlName="name" type="text" class="form-control" id="description" autocomplete="off">
                    <go-input-message message="*Campo obrigatório!" *ngIf="productForm.get('name').errors?.required && (form.submitted || productForm.get('name').touched)"></go-input-message>
                    <go-input-message message="* O nome deve ter no mínimo 3 caracteres" *ngIf="productForm.get('name').errors?.minlength && (form.submitted || productForm.get('name').touched)"></go-input-message>
                    <go-input-message message="* Já existe um producto com o nome inserido!" *ngIf="productForm.get('name').errors?.usedName"></go-input-message>
                </div>
            </div>
                
        </div>

        <div class="card-footer d-flex">
            <div class="p-1">
                <button type="submit" class="btn btn-primary fa fa-save font-weight-bold"> Adicionar</button>
            </div>
            <div class="p-1">
                <button type="reset" class="btn btn-danger fa fa-times-circle font-weight-bold"> Cancelar</button>
            </div>
        </div>

    </form>

</div>