<div class="card">
    
    <div class="card-header bg-default ">
        <div class="d-flex">
            
            <div class="mr-auto p-2 btn btn-default">
                <span class="fa fa-gears"></span><strong> Detalhes do Serviço </strong>
            </div>

            <div class="p-1">
                <button class="btn btn-success font-weight-bold fa fa-shopping-cart" [routerLink]="['/service/service-description-create']"> Adicionar</button>
            </div>

        </div>
    </div>

    <div class="card-body">
       
        <form class="mb-3">
            <div class="form-group row">
                <div class="col-md-6 mb-3">    
                    <input type="service" class="form-control" type="search" id="service" placeholder="Pesquisar..." autofocus autocomplete="off">
                </div>
            </div>
        </form>
       
        <table class="table" *ngIf="totalItems > 0">
            <thead class="thead-dark">
              <tr>
                <th>Nome do serviço</th>
                <th>Descrição</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let serviceDescription of serviceDescriptions">
                <td>{{serviceDescription.serviceDTO.name}}</td>
                <td>{{serviceDescription.description}}</td>
                <td>
                  <div class="text-right">
                      <button class="btn btn-success mr-1 fa fa-edit" [routerLink]="['/service/service-description-edit', serviceDescription.uuid]"></button>
                      <button class="btn btn-danger fa fa-trash" data-toggle="modal" data-target="#exampleModalCenter" (click)="selectedservice(service)"></button>
                  </div>
                </td>
              </tr>
            </tbody>
        </table>

        <div class="container text-center" *ngIf="totalItems === 0">
            <small class="mutted">Sem serviços registados!</small>
        </div>
        
        <go-paging [totalItems]="totalItems" (pageDataEvent)="updateData($event)"></go-paging>

    </div>
  </div>

<go-confirmation-dialog [dialogId]="'exampleModalCenter'" (dialogEvent)="removeService($event)" ></go-confirmation-dialog>