<div class="card">
    
    <div class="card-header bg-default ">
        <div class="d-flex">
            
            <div class="mr-auto p-2 btn btn-default">
                <span class="fa fa-inbox"></span><strong> Item do Serviço </strong>
            </div>
  
            <div class="p-1">
                <button class="btn btn-success font-weight-bold fa fa-list" [routerLink]="['/sevice-items']"> Listar</button>
            </div>
  
        </div>
    </div>
  
    <form #form="ngForm" [formGroup]="serviceItemForm" (submit)="saveServiceItem()">
        
        <div class="card-body">
            
            <div class="form-group row">
              <label for="grocery" class="col-form-label col-md-2 text-right font-weight-bold">Mercearia:</label>
              <div class="col-md-6 mb-3">    
                  <go-search [items]="units" [selectedItem]="unit" (searchEvent)="searchUnit($event)" (selectionEvent)="selectUnit($event)"></go-search>
              </div>
            </div>
  
            <div class="form-group row">
                <label for="productDescription" class="col-form-label col-md-2 text-right font-weight-bold">Serviço:</label>
                <div class="col-md-6 mb-3">    
                    <go-search [items]="serviceDescriptions" [selectedItem]="serviceDescription" (searchEvent)="searchServiceDescription($event)" (selectionEvent)="selectServiceDescription($event)"></go-search>
                </div>
            </div>
        
            <div class="form-group row">
                <label for="salePrice" class="col-form-label col-md-2 text-right font-weight-bold">Preço de Venda:</label>
                <div class="col-md-4 mb-3" > 
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text"><span class="fa fa-money"></span></div>
                    </div>   
                        
                    <input formControlName="salePrice" type="number" class="form-control" id="salePrice" autocomplete="off">
                        
                    <div class="input-group-append">
                        <span class="input-group-text">MT</span>
                    </div>
                  </div>  
                  <go-input-message message="*Campo obrigatório!" *ngIf="serviceItemForm.get('salePrice').errors?.required && (form.submitted || serviceItemForm.get('salePrice').touched)"></go-input-message>
                 </div>
            </div>
                
        </div>
  
        <div class="card-footer d-flex">
            <div class="p-1" *ngIf="!serviceItem">
                <button type="submit" class="btn btn-primary fa fa-save font-weight-bold"> Adicionar</button>
            </div>
            <div class="p-1" *ngIf="serviceItem">
                <button type="button" class="btn btn-primary fa fa-save font-weight-bold" (click)="updateServiceItem()"> Actualizar</button>
            </div>
            <div class="p-1">
                <button type="reset" class="btn btn-danger fa fa-times-circle font-weight-bold"> Cancelar</button>
            </div>
        </div>
  
    </form>
  
  </div>