<div class="card">

    <div class="card-header bg-default">
        <div class="d-flex">

            <div class="mr-auto p-2 btn btn-default">
                <span class="fa fa-gears"></span><strong> Serviço </strong>
            </div>

            <div class="p-1">
                <button class="btn btn-success font-weight-bold fa fa-list" [routerLink]="['/service/service-list']">
                    Listar</button>
            </div>

        </div>
    </div>

    <form #form="ngForm" [formGroup]="serviceForm" (submit)="saveService()">

        <div class="card-body">

            <div class="form-group row">
                <label for="name" class="col-form-label col-md-2 text-right font-weight-bold">Nome do Serviço:</label>
                <div class="col-md-6 mb-3">
                    <input formControlName="name" type="text" class="form-control" id="name" autocomplete="off">
                    <go-input-message message="*Campo obrigatório!"
                        *ngIf="serviceForm.get('name').errors?.required && (form.submitted || serviceForm.get('name').touched)">
                    </go-input-message>
                    <go-input-message message="* O nome deve ter no mínimo 3 caracteres"
                        *ngIf="serviceForm.get('name').errors?.minlength && (form.submitted || serviceForm.get('name').touched)">
                    </go-input-message>
                </div>
            </div>

        </div>

        <div class="card-footer d-flex">
            <div class="p-1" *ngIf="!service">
                <button type="submit" class="btn btn-primary fa fa-save font-weight-bold"> Adicionar</button>
            </div>
            <div class="p-1" *ngIf="service">
                <button type="button" class="btn btn-primary fa fa-save font-weight-bold" (click)="updateService()">
                    Actualizar</button>
            </div>
            <div class="p-1">
                <button type="reset" class="btn btn-danger fa fa-times-circle font-weight-bold"> Cancelar</button>
            </div>
        </div>

    </form>
</div>