<div class="content">
    <h3>Termos e condições gerais de uso</h3>

    <p>Estes termos e condições gerais de uso aplicam-se aos serviços prestados pelo aplicativo de gestão do seu negócio
        intitulado <strong>Negócio na Mão (NNM)</strong></p>

    <ol>
        <li>
            <b>Objecto</b>
            <p>O aplicativo tem como objectivo principal, facilitar na gestão do seu negócio de forma simples e rápida
                com recurso a um telemóvel com sistema <strong>Android.</strong></p>
        </li>
        <li>
            <b>Os termos de condições incluem</b>
            <p>Todos aqueles que desejam ter acesso aos serviços oferecidos pelo aplicativo. primeiramente deverão se
                informar sobre as regras que compõem o presente instrumento.</p>
            <p>Ao usar o aplicativo <strong>Negócio na Mão (NNM)</strong>, o utilizador aceita integralmente as normas e
                princípios de utilização definidos, sob risco de eventuais penalizações em caso de não observância. O
                utilizador deverá certificar-se de eventuais alterações do presente termo.</p>
            <p>Caso não concorde com qualquer regra aqui descrita, o utilizador deve, imediatamente abster-se de
                utilizar o aplicativo. Poderá ainda entrar em contacto com a equipa de suporte para eventuais
                exclarecimentos e alterações.</p>
        </li>
        <li>
            <b>Navegação</b>
            <p>O responsável pelo aplicativo <strong>Negócio na Mão</strong>, compromete-se a utilizar todas as soluções
                técnicas para permitir o acesso ao serviço 24h/dia, 7 dias por semana. Entretanto, ele poderá, a
                qualquer momento, interromper, limitar ou suspender o acesso a qualquer aplicação associada a solução,
                com o objectivo de realizar eventuais actualizações, modificações ou qualquer outra acção que julga
                necessária para o bom funcionamento do mesmo.</p>
        </li>
        <li>
            <b>Administração do aplicativo</b>
            <p>Para a boa gestão do aplicativo, a equipa poderá a qualquer momento:</p>
            <p>a) Suspender, interromper ou limitar o acesso a partes ou todo o aplicativo para utilizadores
                específicos;</p>
            <p>b) Remover toda a informação que possa por em causa o bom funcionamento do aplicativo;</p>
            <p>c) Suspender o funcionamento para efeitos de actualizações.</p>
        </li>
        <li>
            <b>Cadastro e dados</b>
            <p>O acesso ao aplicativo só estará disponível para todos aqueles que possuem plena capacidade de operação.
            </p>
            <p>Ao utilizador só será permitido manter no aplicativo uma e única conta. Contas duplicadas serão
                automaticamente desactivadas pela equipa de gestão do mesmo.</p>
            <p>Para o cadastro o utilizador deverá sempre fornecer informações verdadeiras e actualizadas, de contrário
                o utilizador responderá de forma civil e criminal pelas informações declaradas.</p>
            <p>Não é permitido ceder, vender ou fornecer a terceiros dados de uma conta.</p>
            <p>O utilizador poderá a qualquer momento sem aviso prévio remover a sua conta e apagar todos os seus dados
                do aplicativo, ficando assim disponível em situações futuras aberto para um novo registo.</p>
        </li>
        <li>
            <b>Direitos Autorais</b>
            <p>Qualquer representação, reprodução, adaptação ou exploração parcial dos conteúdos, marcas e serviços do
                aplicativo sem a autorização prévia é extritamente proibida. Estão livres da proibição todos os
                conteúdos que sejam propriedade do utilizador dentro do aplicativo.</p>
        </li>
    </ol>
    <p>Eventuias alterações e inconformidades contactar, a equipa de gestão do aplicativo:
        <i>mowinner@mowinner.co.mz</i>
    </p>

    <a [routerLink]="['/home']">Voltar ao menú principal</a>
</div>