.header {
    background-color: #017a84;
    color: #fff;
    height: 60px;
}

.brand {
    border-radius: 100%;
    background-color: #c62828;
    padding-left: 12px;
    padding-right: 9px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    font-family: "Shadows Into Light", cursive;
    text-shadow: 2px 2px #000;
    border: 2px solid #fff;
}


.navbar-text{
    margin-left: 8px;
}

.navbar-brand{
    margin-right: .5rem;
}

.dropdown-menu{
   margin-top: 25%;
   border-radius: unset;
   width: 250px;
}

.dropdown-item:hover{
    background-color: #017a84;
    color: #fff;
}

.dropdown-item{
    cursor: pointer;
    padding-right: 10px;
    padding-left: 5px;
}

.btn {
    vertical-align: unset;
}

img {
    border-radius: 50%;
    width: 50px;
  }