.header {
    background-color: #017a84;
    color: #fff;
    height: 60px;
}

.brand {
    border-radius: 100%;
    background-color: #c62828;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    font-family: "Shadows Into Light", cursive;
    text-shadow: 2px 2px #000;
    border: 2px solid #fff;
}

.navbar-brand{
    margin-right: .5rem;
}