<div class="container main-menu">
    <ul class="nav nav-tabs menu-item">
        <a [routerLink]="['/home']" routerLinkActive="menu-item-active" [routerLinkActiveOptions]="{exact: true}" class="col-sm-2"><li> <span class="fa fa-tachometer"></span> Home</li></a>
        <a [routerLink]="['/products']" routerLinkActive="menu-item-active" class="col-sm-2"><li><span class="fa fa-inbox"></span> Produtos</li></a>
        <a [routerLink]="['/stocks']" routerLinkActive="menu-item-active" class="col-sm-2"><li><span class="fa fa-cart-arrow-down"></span> Stocks</li></a>
        <a [routerLink]="['/login']" routerLinkActive="menu-item-active" class="col-sm-2"><li><span class="fa fa-bar-chart"></span> Vendas</li></a>
      </ul>
</div>